# Part 1: Python Basics - Code Time Value of Money and Capital Budgeting

## Section 3: Objects, Data Types, Operators & Functional Programming

### Data Types

In [2]:
100

100

In [3]:
type(100)

int

In [4]:
PV = 100 / 1.03
PV

97.08737864077669

In [5]:
type(PV)

float

In [6]:
type(1.03)

float

In [7]:
type(1.)

float

In [8]:
1.

1.0

In [9]:
cf = [100, 50, 10]
cf

[100, 50, 10]

In [10]:
type(cf)

list

In [11]:
n = range(10)
n

range(0, 10)

In [12]:
type(n)

range

In [13]:
type(print)

builtin_function_or_method

In [14]:
print(cf)

[100, 50, 10]

In [15]:
a = print

In [16]:
a(cf)

[100, 50, 10]

In [17]:
"Microsoft"

'Microsoft'

In [18]:
type("Microsoft")

str

In [19]:
company_name = "Microsoft"

In [20]:
company_name

'Microsoft'

In [21]:
True

True

In [22]:
type(True)

bool

In [23]:
False

False

In [24]:
type(False)

bool

In [25]:
100 / 1.03

97.08737864077669

In [26]:
"Microsoft" / 1.03

TypeError: unsupported operand type(s) for /: 'str' and 'float'

### Excursus: Dynamic Typing

In [27]:
a = 100
a

100

In [28]:
type(a)

int

In [29]:
a = "Facebook"
a

'Facebook'

In [30]:
type(a)

str

In [31]:
a = [100, 20, 30]
a

[100, 20, 30]

In [32]:
type(a)

list

### Build-in Functions

In [33]:
PV = 100
r = 0.03
n = 1
FV = 100 * 1.03

In [34]:
print(FV)

103.0

In [35]:
print("Facebook")

Facebook

In [36]:
print([100, 20, 30])

[100, 20, 30]

In [41]:
print(PV, r, n, FV, sep = "\n")

100
0.03
1
103.0

In [37]:
print(PV, r, n, FV, sep = ", ")

100, 0.03, 1, 103.0

In [39]:
cf = [-200, 20, 50, 70, 100, 50]
cf

[-200, 20, 50, 70, 100, 50]

In [40]:
len(cf)

6

In [42]:
len("Facebook")

8

In [44]:
len(8)

TypeError: object of type 'int' has no len()

In [45]:
sum(cf)

90

In [46]:
sum("Facebook")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
min(cf)

-200

In [ ]:
min("Facebook") # capital letters have lower ASCII values

'F'

In [49]:
min("facebook")

'a'

In [50]:
max(cf)

100

In [51]:
max("Facebook")

'o'

### Integers

In [52]:
type(100)

int

In [53]:
100 + 50

150

In [54]:
100 - 50

50

In [55]:
100 * 10

1000

In [56]:
100 / 10

10.0

In [ ]:
type(100 / 10) # division always results in float

float

In [ ]:
I0 = 100 #Investment at time stamp 0 (I0)
I0

100

__The first built-in method__

In [ ]:
I0.bit_length()

7

### Floats

In [61]:
type(1.04)

float

In [62]:
100 / 10

10.0

In [63]:
type(100 / 10)

float

In [64]:
r = 1.04

In [65]:
100 * r

104.0

In [66]:
r.is_integer()

False

In [68]:
r.as_integer_ratio() # float is represented as a ratio of two integers

(1170935903116329, 1125899906842624)

In [69]:
0.1 + 0.1 + 0.1 == 0.3

False

In [70]:
0.1

0.1

In [71]:
0.1 + 0.1 + 0.1

0.30000000000000004

In [72]:
0.3

0.3

In [ ]:
format(0.1, ".20f") # does not have an exact binary representation

'0.10000000000000000555'

In [ ]:
format(0.3, ".20f") # does not have an exact binary representation

'0.29999999999999998890'

In [76]:
1/8 # has a finite representation in binary floating point

0.125

In [77]:
format(1/8, ".20f")

'0.12500000000000000000'

In [78]:
format(1/32, ".20f")

'0.03125000000000000000'

In [79]:
round(0.1, 1)

0.1

In [80]:
format(round(0.1, 1), ".20f")

'0.10000000000000000555'

### Rounding Floats (and Integers)

In [81]:
round(1.3454, 0)

1.0

In [82]:
round(1.7657)

2

In [83]:
round(1.3454, 1)

1.3

In [84]:
round(1.3454, 2)

1.35

In [85]:
format(round(1.3454, 2), ".20f")

'1.35000000000000008882'

In [ ]:
round(13, -1) # rounds down to nearest ten

10

In [87]:
round(17, -1)

20

In [88]:
round(217, -2)

200

In [89]:
round(257, -2)

300

In [90]:
round(1.5)

2

In [ ]:
round(2.5) # bankers rounding. Rounds to nearest even number

2

In [92]:
1.5 + 2.5 + 3.5 + 4.5

12.0

In [94]:
1 + 2 + 3 + 4

10

In [ ]:
round(1.5) + round(2.5) + round(3.5) + round(4.5) # bankers rounding

12

### More on Lists

In [97]:
cf = [-200, 20, 50, 70, 100, 50]
cf

[-200, 20, 50, 70, 100, 50]

In [98]:
type(cf)

list

In [99]:
len(cf)

6

In [100]:
sum(cf)

90

In [101]:
max(cf)

100

In [102]:
min(cf)

-200

In [103]:
cf[0]

-200

In [104]:
cf[-2]

100

In [105]:
cf.index(20)

1

In [106]:
enumerate(cf)

In [107]:
list(enumerate(cf))

[(0, -200), (1, 20), (2, 50), (3, 70), (4, 100), (5, 50)]

In [108]:
cf.count(20)

1

In [109]:
l = [100, 50.2, "Facebook", True]

In [110]:
l

[100, 50.2, 'Facebook', True]

In [111]:
for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Lists and element-wise Operations

In [112]:
cf = [100, 10, 20, 50, 30, 25]

In [113]:
cf * 1.1 # expecting 10% higher cash flows

TypeError: can't multiply sequence by non-int of type 'float'

In [114]:
cf - 20 # adjustment to each cash flow of addition fixed cost of $20 per year

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [115]:
l = [1, 2, 3]

In [116]:
l.append(4)

In [117]:
l

[1, 2, 3, 4]

In [118]:
cf_new = []

In [119]:
cf_new

[]

In [ ]:
cf_new = []
for i in cf:
    new = i * 1.1 # expecting 10% higher cash flows
    cf_new.append(new)
print(cf_new)

[110.00000000000001, 11.0, 22.0, 55.00000000000001, 33.0, 27.500000000000004]

In [121]:
cf_new = []
for i in cf:
    new = i - 20
    cf_new.append(new) # adjustment to each cash flow of addition fixed cost of $20 per year
print(cf_new)

[80, -10, 0, 30, 10, 5]

In [122]:
cf * 3

[100, 10, 20, 50, 30, 25, 100, 10, 20, 50, 30, 25, 100, 10, 20, 50, 30, 25]

### Slicing Lists

In [123]:
cf = [-200, 20, 50, 70, 100, 50]
cf

[-200, 20, 50, 70, 100, 50]

In [124]:
cf[1:4]

[20, 50, 70]

In [125]:
cf[0:1]

[-200]

In [126]:
cf[:2]

[-200, 20]

In [127]:
cf[1:]

[20, 50, 70, 100, 50]

In [128]:
cf[:]

[-200, 20, 50, 70, 100, 50]

In [129]:
cf[:-1]

[-200, 20, 50, 70, 100]

In [130]:
cf[-3:]

[70, 100, 50]

In [131]:
cf[::2] # every second element

[-200, 50, 100]

In [133]:
cf[1:5:2]

[20, 70]

In [134]:
cf[1:5:3]

[20, 100]

In [135]:
cf[::-1]

[50, 100, 70, 50, 20, -200]

### Changing Elements in Lists

In [136]:
cf = [100, 10, 20, 50, 30, 25]
cf

[100, 10, 20, 50, 30, 25]

Change initial saving to 50 USD.

In [137]:
cf[0] = 50

In [138]:
cf

[50, 10, 20, 50, 30, 25]

Change ongoing savings to 40 USD p.a.

In [ ]:
cf[1:] = 40 # depost $40 to each cash flow except the first one
# braodcasting does not work with lists

TypeError: must assign iterable to extended slice

In [140]:
cf[1:] = [40, 70, 40, 40, 10]

In [141]:
cf

[50, 40, 70, 40, 40, 10]

### Sorting and Reversing Lists

In [142]:
n = list(range(6))
n

[0, 1, 2, 3, 4, 5]

In [143]:
n[::-1]

[5, 4, 3, 2, 1, 0]

In [ ]:
n # did not change the original list

[0, 1, 2, 3, 4, 5]

In [ ]:
n = n[::-1] # n is refers to a new object

In [146]:
n

[5, 4, 3, 2, 1, 0]

In [ ]:
n.reverse() #changes the original list in place

In [148]:
n

[0, 1, 2, 3, 4, 5]

In [150]:
cf = [100, 10, 20, 50, 30, 25]
cf

[100, 10, 20, 50, 30, 25]

In [151]:
cf.sort()

In [152]:
cf

[10, 20, 25, 30, 50, 100]

In [153]:
cf.sort(reverse = True)

In [154]:
cf

[100, 50, 30, 25, 20, 10]

### Adding and removing elements to/from Lists

In [ ]:
cf = [-200, 20, 50, 70, 100, 50] # buying an additional asset with an initial outlay of $200
cf

[-200, 20, 50, 70, 100, 50]

In [ ]:
cf + 25 # adding anothe yearly cash flow of $25

TypeError: can only concatenate list (not "int") to list

In [ ]:
cf + [25] # adding anothe yearly cash flow of $25

[-200, 20, 50, 70, 100, 50, 25]

In [158]:
cf

[-200, 20, 50, 70, 100, 50]

In [159]:
cf = cf + [25]

In [160]:
cf

[-200, 20, 50, 70, 100, 50, 25]

In [161]:
cf.append(10)

In [162]:
cf

[-200, 20, 50, 70, 100, 50, 25, 10]

In [163]:
cf + [5, 2]

[-200, 20, 50, 70, 100, 50, 25, 10, 5, 2]

In [164]:
cf

[-200, 20, 50, 70, 100, 50, 25, 10]

In [165]:
cf.extend([5, 2])

In [166]:
cf

[-200, 20, 50, 70, 100, 50, 25, 10, 5, 2]

In [167]:
cf.remove(2)

In [168]:
cf

[-200, 20, 50, 70, 100, 50, 25, 10, 5]

In [169]:
cf - [25, 10, 5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [170]:
cf = cf[:-3]

In [171]:
cf

[-200, 20, 50, 70, 100, 50]

In [172]:
cf.pop()

50

In [174]:
cf

[-200, 20, 50, 70, 100]

In [ ]:
cf.insert(2, 100) # insert 100 at index 2

In [176]:
cf

[-200, 20, 100, 50, 70, 100]

### Mutable vs Immutable Objects (Part 1)

In [177]:
r1 = 0.05

In [178]:
r2 = r1

In [179]:
r2

0.05

In [180]:
r1 += 0.01

In [181]:
print(r1, r2)

0.060000000000000005 0.05

In [182]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1

In [183]:
cf2

[100, 10, 20, 50, 30, 25]

In [184]:
cf1[0] = 50

In [ ]:
print(cf1, cf2) # list are mutable objects. we can change the contents of the list even though both variables point to the same object

[50, 10, 20, 50, 30, 25] [50, 10, 20, 50, 30, 25]

In [186]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1

In [187]:
cf1.append(15)

In [189]:
print(cf1, cf2)

[100, 10, 20, 50, 30, 25, 15] [100, 10, 20, 50, 30, 25, 15]

In [190]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1

In [191]:
cf1 = cf1 + [15]

In [192]:
print(cf1, cf2)

[100, 10, 20, 50, 30, 25, 15] [100, 10, 20, 50, 30, 25]

In [193]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1

In [194]:
cf1.sort()

In [195]:
cf1

[10, 20, 25, 30, 50, 100]

In [196]:
cf2

[10, 20, 25, 30, 50, 100]

### Mutable vs Immutable Objects (Part 2)

In [197]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = [100, 10, 20, 50, 30, 25]

In [198]:
cf1[0] = 50

In [199]:
print(cf1, cf2)

[50, 10, 20, 50, 30, 25] [100, 10, 20, 50, 30, 25]

In [200]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1[:]

In [201]:
cf2

[100, 10, 20, 50, 30, 25]

In [202]:
cf1[0] = 50

In [203]:
print(cf1, cf2)

[50, 10, 20, 50, 30, 25] [100, 10, 20, 50, 30, 25]

In [ ]:
cf1 = [100, 10, 20, 50, 30, 25]
cf2 = cf1.copy() #recommended way to copy a list

In [205]:
cf2

[100, 10, 20, 50, 30, 25]

In [207]:
cf1[0] = 50

In [208]:
print(cf1, cf2)

[50, 10, 20, 50, 30, 25] [100, 10, 20, 50, 30, 25]

### Tuples

In [209]:
cf = [-200, 20, 50, 70, 100, 50]
cf

[-200, 20, 50, 70, 100, 50]

In [210]:
enum = list(enumerate(cf))
enum

[(0, -200), (1, 20), (2, 50), (3, 70), (4, 100), (5, 50)]

In [211]:
tup = enum[0]
tup

(0, -200)

In [212]:
type(tup)

tuple

In [213]:
tup[0]

0

In [214]:
tup[-1]

-200

In [ ]:
tup[1] = -150 # tup are immutable objects. we cannot change the contents of the tuple

TypeError: 'tuple' object does not support item assignment

In [216]:
tup.count(-200)

1

In [217]:
tup.index(-200)

1

In [218]:
pos, cf = tup

In [219]:
pos

0

In [220]:
cf

-200

In [221]:
tup2 = (0, -150)

In [222]:
tup2

(0, -150)

In [223]:
tup3 = 0, -100

In [224]:
tup3

(0, -100)

In [225]:
l = list(tup)
l

[0, -200]

In [226]:
tuple(l)

(0, -200)

### Dictionaries

In [227]:
stock = ["Facebook", "Microsoft", "Apple"]
price = [188.25, 144.61, 243.26]

In [228]:
{"Facebook": 188.25, "Microsoft":144.61, "Apple": 243.26}

{'Facebook': 188.25, 'Microsoft': 144.61, 'Apple': 243.26}

In [229]:
mapping = {"Facebook": 188.25, "Microsoft":144.61, "Apple": 243.26}

In [230]:
type(mapping)

dict

In [231]:
mapping["Facebook"]

188.25

In [232]:
mapping["Facebook"] = 190.51

In [233]:
mapping["Google"] = 1298.22

In [234]:
mapping

{'Facebook': 190.51, 'Microsoft': 144.61, 'Apple': 243.26, 'Google': 1298.22}

In [235]:
mapping.keys()

dict_keys(['Facebook', 'Microsoft', 'Apple', 'Google'])

In [236]:
l = mapping.values()
l

dict_values([190.51, 144.61, 243.26, 1298.22])

In [237]:
type(l)

dict_values

In [238]:
list(l)

[190.51, 144.61, 243.26, 1298.22]

In [239]:
mapping.items()

dict_items([('Facebook', 190.51), ('Microsoft', 144.61), ('Apple', 243.26), ('Google', 1298.22)])

In [240]:
list(mapping.items())

[('Facebook', 190.51),
 ('Microsoft', 144.61),
 ('Apple', 243.26),
 ('Google', 1298.22)]

In [241]:
for key, value in mapping.items():
    print(key, value)

Facebook 190.51
Microsoft 144.61
Apple 243.26
Google 1298.22

In [242]:
mapping = {"Facebook": 188.25, "Facebook":190.51, "Apple": 243.26}

In [243]:
mapping

{'Facebook': 190.51, 'Apple': 243.26}

In [244]:
stock

['Facebook', 'Microsoft', 'Apple']

In [245]:
price

[188.25, 144.61, 243.26]

In [247]:
zip(stock, price)

In [248]:
type(zip(stock, price))

zip

In [249]:
dict(zip(stock, price))

{'Facebook': 188.25, 'Microsoft': 144.61, 'Apple': 243.26}

In [250]:
for i in zip(stock, price):
    print(i)

('Facebook', 188.25)
('Microsoft', 144.61)
('Apple', 243.26)

### Intro to Strings

In [251]:
company_name = "Facebook Inc."

In [252]:
company_name

'Facebook Inc.'

In [253]:
type(company_name)

str

In [254]:
company_name[0]

'F'

In [255]:
company_name[3]

'e'

In [256]:
company_name[8]

' '

In [257]:
company_name[-1]

'.'

In [258]:
company_name[2:7]

'ceboo'

In [259]:
company_name[0] = "f"

TypeError: 'str' object does not support item assignment

In [260]:
sentence =  "I invested $50 into Facebook!"

In [261]:
sentence

'I invested $50 into Facebook!'

In [262]:
len(sentence)

29

In [263]:
I0 = "100"
I0

'100'

In [264]:
type(I0)

str

In [265]:
I0 * 1.03

TypeError: can't multiply sequence by non-int of type 'float'

In [266]:
I0 + " USD"

'100 USD'

In [267]:
I0

'100'

In [268]:
int(I0)

100

In [269]:
I0

'100'

In [270]:
I0 = int(I0)
I0

100

In [271]:
type(I0)

int

In [272]:
I0 = str(I0)
I0

'100'

In [273]:
I0 = float(I0)
I0

100.0

In [274]:
sentence.upper()

'I INVESTED $50 INTO FACEBOOK!'

In [275]:
sentence.lower()

'i invested $50 into facebook!'

In [276]:
sentence.capitalize()

'I invested $50 into facebook!'

In [277]:
sentence.title()

'I Invested $50 Into Facebook!'

In [278]:
sentence

'I invested $50 into Facebook!'

In [279]:
sentence = sentence.lower()

In [280]:
sentence

'i invested $50 into facebook!'

### String Replacement

In [281]:
r = 0.05

In [282]:
"The interest rate is {}.".format(r)

'The interest rate is 0.05.'

In [283]:
what = "interest rate"

In [284]:
"The {} is {}.".format(what, r)

'The interest rate is 0.05.'

In [285]:
"The {} is {}.".format(what, 0.05)

'The interest rate is 0.05.'

In [286]:
cf = [100, 10, 20, 50, 30, 25]

In [287]:
for i in cf:
    print("The Cashflow is {}!".format(i))

The Cashflow is 100!
The Cashflow is 10!
The Cashflow is 20!
The Cashflow is 50!
The Cashflow is 30!
The Cashflow is 25!

In [288]:
for i in range(len(cf)):
    print("The Cashflow at t{} is {}!".format(i, cf[i]))

The Cashflow at t0 is 100!
The Cashflow at t1 is 10!
The Cashflow at t2 is 20!
The Cashflow at t3 is 50!
The Cashflow at t4 is 30!
The Cashflow at t5 is 25!

### Booleans

In [289]:
True

True

In [290]:
False

False

In [291]:
print(type(True), type(False))

<class 'bool'> <class 'bool'>

In [292]:
int(True)

1

In [293]:
int(False)

0

In [294]:
True + False

1

In [295]:
True + 5

6

In [298]:
False * 6

0

In [296]:
True * 6

6

### Comparison, Logical and Membership Operators in Action

Comparison Operators

In [299]:
cf1 = 50
cf2 = 60

In [300]:
cf1 == cf2 #equal

False

In [301]:
cf1 != cf2 #not equal

True

In [302]:
cf1 > cf2 #greater than

False

In [303]:
cf1 >= cf2 #greater than or equal to

False

In [304]:
cf1 < cf2 #less than

True

In [305]:
cf1 <= cf2 #less than or equal to

True

Excursus: Identity Operators

In [306]:
r1 = 0.05

In [307]:
r2 = r1

In [308]:
r1 == r2 #equal

True

In [ ]:
r1 is r2 #is referring to the same object

True

In [310]:
cf1 = [-100, 20, 30]
cf2 = cf1.copy()

In [311]:
cf1 == cf2 #equal

True

In [313]:
cf1 is cf2 #is the same object

False

In [314]:
cf1 is not cf2 #is not the same object

True

Logical Operators

In [315]:
cf1 = 50
cf2 = 60

In [316]:
True and True

True

In [317]:
cf1 < 100 and cf2 == 60

True

In [318]:
True and False

False

In [319]:
cf1 < 100 and cf2 == 70

False

In [320]:
False and False

False

In [321]:
True or True

True

In [322]:
cf1 < 100 or cf2 == 60

True

In [323]:
True or False

True

In [324]:
cf1 < 100 or cf2 == 70

True

In [325]:
False or False

False

In [326]:
not False

True

In [327]:
not True

False

In [328]:
not cf1 < 100

False

In [329]:
not(cf1 < 100 and cf2 == 70)

True

Membership Operators

In [330]:
cf = [-200, 20, 50, 70, 100, 50]
cf

[-200, 20, 50, 70, 100, 50]

In [331]:
20 in cf

True

In [332]:
30 in cf

False

In [333]:
company_name = "Facebook"
company_name

'Facebook'

In [334]:
"d" not in company_name

True

In [335]:
"F" not in company_name

False