# Code Time Value of Money and Capital Budgeting

## Section 2: Lists and For Loops for TVM Problems with many Cashflows

Today you have 100 USD in your savings account and you save another 
- 10 USD in t1 
- 20 USD in t2
- 50 USD in t3 
- 30 USD in t4 
- 25 USD in t5. (each cf at period´s end)

Calculate the __FV__ of your savings account __after 5 years__ given an interest rate of __3% p.a.__

In [61]:
FV = 100 * 1.03**5 + 10 * 1.03**4 + 20 * 1.03**3 + 50 * 1.03**2 + 30 * 1.03 + 25

In [62]:
FV

257.98203553

### Intro to Lists

Today you have 100 USD in your savings account and you save another 
- 10 USD in t1 
- 20 USD in t2
- 50 USD in t3 
- 30 USD in t4 
- 25 USD in t5.

In [63]:
t0 = 100
t1 = 10
t2 = 20
t3 = 50
t4 = 30
t5 = 25

In [64]:
t0

100

In [65]:
[100 , 10, 20, 50, 30,25]

[100, 10, 20, 50, 30, 25]

In [66]:
cf = [100 , 10, 20, 50, 30,25]

In [67]:
cf

[100, 10, 20, 50, 30, 25]

### Indexing Lists (zero-based & negative Indexing)

In [68]:
cf = [100, 10, 20, 50, 30, 25]

In [69]:
cf

[100, 10, 20, 50, 30, 25]

In [70]:
cf[0]

100

In [71]:
cf[1]

10

In [72]:
cf[2]

20

In [73]:
cf[4]

30

In [74]:
cf[-1]

25

In [75]:
cf[-2]

30

In [76]:
cf[-5]

10

In [77]:
n = [0, 1, 2, 3, 4, 5]

In [78]:
cf

[100, 10, 20, 50, 30, 25]

In [79]:
f = 1.03

In [80]:
FV = cf[0] * f**n[-1] + cf[1] * f**n[-2] + cf[2] * f**n[-3] + cf[3] * f**n[-4] + cf[4] * f**n[-5] + cf[5] * f**n[-6]

In [81]:
FV

257.98203553

### For Loops - Iterating over Lists

In [82]:
cf = [100, 10, 20, 50, 30, 25]

In [83]:
for element in cf:
    print(element)

100
10
20
50
30
25

In [84]:
for i in cf: 
    print(i)

100
10
20
50
30
25

In [85]:
for _ in cf: 
    print(_)

100
10
20
50
30
25

How many Cashflows do we have (__count__)?

In [86]:
count = 0
for i in cf:
    count +=1
    print(count)

1
2
3
4
5
6

In [87]:
count = 0
for i in cf:
    count +=1
print(count) # note the indentation

6

In [88]:
len(cf)

6

How many USD do we save over the 5 years period (__sum__)?

In [89]:
total = 0
for i in cf:
    total += i
    print(total)

100
110
130
180
210
235

In [90]:
total = 0
for i in cf:
    total += i
print(total)

235

In [91]:
sum(cf)

235

Return all Cashflows in EUR by applying current USD/EUR Conversion Rate of 1.12 (1.12 USD per 1 EUR).

In [92]:
cf = [100, 10, 20, 50, 30, 25]

In [93]:
for i in cf:
    print(i / 1.12)

89.28571428571428
8.928571428571427
17.857142857142854
44.64285714285714
26.785714285714285
22.32142857142857

### The range object - another iterable

In [94]:
range(10)

range(0, 10)

In [95]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [98]:
n = range(6)

In [99]:
n

range(0, 6)

In [100]:
n[1]

1

In [101]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [102]:
for i in range(6):
    print(i**2)

0
1
4
9
16
25

### Calculate FV and PV for many Cashflows

__Future Values__

Today you have 100 USD in your savings account and you save another 
- 10 USD in t1 
- 20 USD in t2
- 50 USD in t3 
- 30 USD in t4 
- 25 USD in t5. (each cf at period´s end)

Calculate the __FV__ of your savings account after __5 years__ given an interest rate of __3%__ p.a.

In [103]:
cf = [100, 10, 20, 50, 30, 25]
cf

[100, 10, 20, 50, 30, 25]

In [104]:
# compunding periods
n = list(range(6))
n

[0, 1, 2, 3, 4, 5]

In [105]:
# reverse the order of the compunding periods for compounding
n = n[::-1]

In [106]:
n

[5, 4, 3, 2, 1, 0]

In [107]:
# compunding factor
f = 1.03

In [108]:
# calculate FV using loops for each cash flow
FV = 0
for i in range(6):
    FV += cf[i] * f**n[i]
    print(FV)

115.92740743
127.18249553000001
149.03703553000003
202.08203553
232.98203553000002
257.98203553

In [109]:

FV = 0
for i in range(6):
    FV += cf[i] * f**n[i]
print(FV)

257.98203553

__Present Values__

Today you agreed on a payout plan that guarantees payouts of
- 50 USD in t1,
- 60 USD in t2, 
- 70 USD in t3,
- 80 USD in t4,
- 100 USD in t5. (each cf at period´s end)<br> 

Calculate the Funding amount / __PV__ that needs to be paid into the plan today (t0). Assume an interest rate of __4%__ p.a.

In [110]:
cf = [50, 60, 70, 80, 100]

In [111]:
f = 1.04

In [112]:
PV = 0
for i in range(5):
    PV += cf[i] / f**(i+1)
    print(PV)

48.07692307692307
103.55029585798815
165.78004096495218
234.16437624733024
316.3570869232654

In [113]:
PV = 0
for i in range(5):
    PV += cf[i] / f**(i+1)
print(PV)

316.3570869232654

### Calculate an Investment Project´s NPV

The XYZ Company evaluates to buy an additional machine that will increase future profits/cashflows by
- 20 USD in t1, 
- 50 USD in t2,
- 70 USD in t3, 
- 100 USD in t4,
- 50 USD in t5. (each cf at period´s end)<br>

The machine costs __200 USD__ (Investment in to). Calculate the Project´s __NPV__ and evaluate whether XYZ should pursue the project. <br> XYZ´s required rate of return (Cost of Capital) is __6%__ p.a.

In [114]:
cf = [-200, 20, 50, 70, 100, 50]

In [115]:
# discounting factor
f = 1.06

In [116]:
NPV = 0
for i in range(6):
    NPV += cf[i] / f**(i)
print(NPV)

38.71337130837991

Would your conclusion change with a purchase price of __250 USD__?

In [117]:
cf[0] = -250

In [118]:
cf

[-250, 20, 50, 70, 100, 50]

In [119]:
NPV = 0
for i in range(6):
    NPV += cf[i] / f**(i)
print(NPV)

-11.286628691620088